@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,400;1,500&display=swap');

.verify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    font-family: 'Poppins', sans-serif;
}
.verify h3 span{
    color: #02083E;
}
.verify .veriNav{
    position: fixed;
    top: 20px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    z-index: 1;
}
.verify .veriNav nav{
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
}
.verify .veriNav ul{
    margin-right: 150px;
    display: flex;
}
.verify .veriNav ul li{
    list-style : none;
    margin-right: 50px;
}
.verify .veriNav ul li a{
        text-decoration: none;
        font-weight: 500;
}
.pin{
    text-align: center;
    width: 400px
}
.pin input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    width: 30px;
    margin: 10px;
}
.verify .veri{
    padding: 15px 100px;
    color: white;
    margin-top: 20px;
    text-decoration: none;
    background-color: #02083E;
}

@media (max-width : 800px) {
    .verify h3{
        width: 80vw;
        font-size: 15px;
    }
    .verify .veri{
        padding: 10px 50px;
    }
    .verify .veriNav nav{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 20px;
    }
    .verify .veriNav ul {
        margin-right: 10px;
    }
    .verify .veriNav ul li{
        margin-right: 10px;
        font-size: 15px;
        width: fit-content;
    }
    .verify .veriNav ul li a{
        color: white;
    }
    .verify .veriNav{
        background-color: #02083E;
        color: white;
        top: 0px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        /* align-items: center; */
        height: 10vh;
    }
}