.footer{
    height: 300px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    scroll-snap-align: end;
}
.footer .subscribe{
    display: flex;
    flex-direction: column;
}
.footer .leftText{
    margin-right: 20px;
    width: 300px;
}
.footer .subscribe input{
    height: 30px;
}
.footer .subscribe button{
    margin-top: 10px;
    width: 100px;
    border: none;
    color: white;
    background-color: #02083E;
    padding: 10px 20px;
}
@media (max-width : 800px) {
    .footer{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 10px;
        width: 100vw;
        overflow-x: hidden;
    }
    .footer .subscribe, .footer .leftText{
        width: 250px;
    }
    .footer .subscribe{
        margin-bottom: 10px;
    }
}