@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,400;1,500&display=swap');

.myNav{
    width: 25vw;
    height: 100vh;
    background-color: #02083E;
    padding-top: 250px;
}
.imagelogo1{
    display: none;
}
.imagelogo img{
    position: fixed;
    z-index: 2;
    height: 250px;
    margin-left: 30px;
}
.myNav ul{
    margin-top: 50px;
    margin-left: 50px;
}
.myNav ul li{
    display: flex;
    gap: 1em;
    margin-bottom: 20px;
    list-style: none;
}

.myNav ul li a{
    text-decoration: none;
    color: white;
}
.iconImage{
    width: 25px;
    height: 25px;
    display: none;
}

@media (max-width : 800px) {
    .iconImage{
        position: fixed;
        top: 40px;
        right: 50px;
        z-index: 2;
        display: block;
    }
    .imagelogo{
        display: none;
    }
    .imagelogo1{
        display: block;
    }
    .imagelogo1 img{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 120px;
        z-index: 2;
        /* margin-left: 30px; */
    }
    .myNav{
        position: fixed;
        z-index: 1;
        padding-top: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}