@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,400;1,500&display=swap');

.myNav{
    width: 25vw;
    height: 100vh;
    background-color: #02083E;
    padding-top: 100px;
}
.myNav nav{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
.myNav ul{
    margin-top: 100px;
}
.myNav ul li{
    margin-bottom: 20px;
    list-style: none;
}
.myNav ul li a{
    text-decoration: none;
    color: white;
}
.iconImage{
    width: 25px;
    height: 25px;
    display: none;
}

@media (max-width : 800px) {
    .iconImage{
        position: fixed;
        top: 40px;
        right: 50px;
        z-index: 2;
        display: block;
    }
    .myNav{
        position: fixed;
        z-index: 1;
        padding-top: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}