.card{
    height: 330px;
    width: 268px;
    overflow: hidden;
    box-shadow: -10px 10px 20px rgba(0, 0,0,0.3);
    margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card .deleteIcon{
    color: white;
    z-index: 1;
    top: 10px;
    text-align: center;
    margin-bottom: -10px;
    z-index: 2;
}
.card .cardDescription{
    padding:0px 10px;
    text-align: left;
}
.card .cardDescription .connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .cardDescription .connect a{
    text-decoration: none;
    color: white;
    background-color: #02083E;
    padding: 10px 20px;
    border-radius: 5px;
}
.card .cardDescription .connect label{
    font-weight: bold;
}

@media (max-width : 800px) {
    .card{
        height: 200px;
        width: 150px;
        color: black;
        background-color: white;
    }
    .card img{
        height: 100px;
    }
    .card .cardDescription{
        margin-top: -15px;
        padding-left : 5px;
    }
    .card .cardDescription p{
        font-size: 15px;
        text-align: left;
    }
    .card .cardDescription .connect a{
        padding : 5px 10px;
        font-size: 12px;
    }
    .card .cardDescription .connect label{
        font-size: 12px;
    }
}