.dashboardWrap{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.dashboardWrap .skillWrap{
    width: 75vw;
    height: 100vh;
    overflow-y: scroll;
}
.dashboardWrap .skillWrap .skill{
    width: 72vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboardWrap .skillWrap .skill h2{
    padding: 20px ;
    color: white;
    background-color: #02083E;
    width: 60%;
    text-align: center;
}
.dashboardWrap .skillWrap .skill .searchSection{
    margin: auto;
    height: 35px;
    width: 60%;;
}
.dashboardWrap .skillWrap .skill .searchSection input{
    text-align: center;
    height: 30px;
    color: rgba(0, 0, 0, 0.548);
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.247);
}
.dashboardWrap .skillWrap .skill .searchSection select{
    height: 35px;
    margin-left: 10px;
}
.dashboardWrap .skillWrap .skill .searchSection button{
    width: 100px;
    border: none;
    height: 35px;
    background-color: #02083E;
    color : white;
}
.dashboardWrap .skillWrap .skill .searchSection button:hover{
    background-color: green;
    cursor: pointer;
}
.dashboardWrap .skillWrap .skill .latest{
    width: 90%;
    text-align: center;
}
.dashboardWrap .skillWrap .skill .latest .cardList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}
@media (max-width : 800px) {
    .dashboardWrap{
        height: fit-content;
    }
    .dashboardWrap .skillWrap{
        padding-top: 100px;
        height: fit-content;
        width: 100vw;
        height: fit-content;
    }
    .dashboardWrap .skillWrap .skill{
        width: 90vw;
    }
    .dashboardWrap .skillWrap .skill h2,.dashboardWrap .skillWrap .skill .latest{
        width: 90%;
    }
    .dashboardWrap .skillWrap .skill .searchSection{
        width: 100%;
    }
    .dashboardWrap .skillWrap .skill .searchSection input{
        height: 25px;
        width: 40%;
        margin-left: 20px;
    }
    .dashboardWrap .skillWrap .skill .searchSection select{
        height: 30px;
    }
    .dashboardWrap .skillWrap .skill .searchSection button{
        height: 30px;
    }
    .dashboardWrap .skillWrap .skill .latest .cardList{
        width: 100vw;
        margin-left: -20px;
    }
}